$color-text: #313d38;
$color-link: #056cc1;
$color-white: #fff;
$color-yellow: #f1e05a;

$font-brand: Arial, Helvetica, sans-serif;
$font-size-base: 14px;
$line-height-base: 20px;

$offset-horizontal: 15px;
$offset-vertical: 15px;

$breakpoint-desktop: 768px;
